# Django
DJANGO_SECRET_KEY=change-me-in-local-env
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Base de données
# En local (SQLite temporaire) :
DATABASE_URL=sqlite:///db_backend.sqlite3
CLOUDINARY_CLOUD_NAME=ahgrpwox
CLOUDINARY_API_KEY=279915734199231
CLOUDINARY_API_SECRET=wQxWPvJGgPm5kNeursz_tSEp5mE
REDIS_URL=redis://127.0.0.1:6379/1